<div class="container-fluid">
	<div class="container-fluid">
		<nav>
			<% if user_signed_in? %>
				<%= current_user.email %>
				<%= link_to "SIGN OUT",destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "SIGN IN", new_user_session_path %>
				<%= link_to "SIGN UP", new_user_registration_path %>
			<% end %>
			

		</nav>
	</div> 
	<hr>

	<div class="container-fluid">
		dssd	
	</div>
	<hr>

	<div class="container-fluid">
		nvkd
	</div>
	<hr>

	<div class="container-fluid">
		bdcb
	</div>
	<hr>
</div>